@model Projetos_App1.ViewModels.ComplaintViewModel


@{
    ViewData["Title"] = "Home Page";
}

<div class="homeTitle">
    <h1>Canal De Denúncias</h1>
</div>

<div hidden class="homeContainer">

    <div>
        <img class="clientLogo" src="~/images/logo.png" alt="img aqui" />
    </div>

    <div style="align-items: center; align-content:center;">
        <button class="bnt-home1">REGISTAR DENÚNCIA</button> <br />
        <button class="bnt-home1 bnt-home2">CONSULTAR DENÚNCIA</button>
    </div>

</div>
@* 

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light  border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Complaint" asp-action="List">List </a>
    </div>
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Complaint" asp-action="ListCat">Teste</a>
    </div>
</nav>
 *@

<form asp-controller="Complaint" asp-action="CreateComplaint" method="post" class="form-horizontal">

    <div class="mb-3">

        <input asp-for="@Model.complaint.ComplaintSubject" type="text" class="form-control" placeholder="Assunto" required>
        <span asp-validation-for="@Model.complaint.ComplaintSubject" class="text-danger"></span>
    </div>

    <select asp-for="@Model.companyid" class="form-select"  required>
        <option value="" selected>Empresa</option>

        @foreach (var item in Model.listCompany)
        {
            <option value="@item.CompaniesId">@item.Name</option>


        }
    </select>


    <br />

    <select asp-for="@Model.companyRelationid" class="form-select">
        <option selected>Relação com empresa</option>
        @foreach (var item in Model.listRelation)
        {
            <option value="@item.CompanyRelationId">@item.CompanyRelationship</option>
        }
    </select>
    <br />

    <div class="mb-3">
        <input asp-for="@Model.Whistleblowing.Name" type="text" class="form-control" placeholder="Nome" required>
    </div>

    <div class="row">
        <div class="col">
            <input asp-for="@Model.Whistleblowing.PhoneNumber" type="tel" class="form-control" placeholder="Telemovel(Opcional)">
        </div>

        <div class="col">
            <input asp-for="@Model.Whistleblowing.Email" type="email" class="form-control" placeholder="Email(Opcional)">
        </div>
    </div>
    <br />

    <select asp-for="@Model.categoryid" class="form-select" required>
        <option value="" selected>Categoria</option>
        @foreach (var item in Model.listCategory)
        {
            <option value="@item.CategoryId">@item.Categories</option>

        }
    </select>

    <br /><br />

    <div class="form-group">
       
        <textarea asp-for="@Model.complaint.ComplaintDescription" class="form-control" placeholder="Descrição" id= "texto" rows=" 10" required></textarea>
    </div>

 @*    <br />
    <input type="file" name="arquivos" multiple> *@
    <br /> <br />

    <div class="form-group text-center">
        <button type="submit" value = "CreateComplaint" class="btn btn-secondary btn-lg">SUBMETER</button>
    </div>
    <br />



</form>

<br />
<br />
<br />

<section hidden class="text-center">
    <h6>Canal de denúcias em conformidade com a nova lei de proteção de denunciantes Lei n.º 93/2021</h6>
</section>
