@model Projetos_App1.ViewModels.ComplaintViewModel


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center"  id="homeTitle">
    <h1>Canal De Denúncias</h1>
</div>

<div hidden class="homeContainer">

    <div>
        <img class="clientLogo" src="~/images/logo.png" alt="img aqui" />
    </div>

    <div style="align-items: center; align-content:center;">
        <button class="bnt-home1">REGISTAR DENÚNCIA</button> <br />
        <button class="bnt-home1 bnt-home2">CONSULTAR DENÚNCIA</button>
    </div>

</div>




<form asp-controller="Complaint" asp-action="CreateComplaint" method="post" class="form-horizontal" enctype="multipart/form-data">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="mb-3">

        <input asp-for="@Model.ComplaintSubject" type="text" class="form-control" placeholder="Assunto">
        <span asp-validation-for="@Model.ComplaintSubject" class="text-danger"></span>
    </div>


    <div class="row">
        <div class="col">
            <select asp-for="@Model.companyid" id="companyId" class="form-select">
                <option value="" selected>Empresa</option>

                @foreach (var item in Model.listCompany)
                {
                    <option value="@item.CompaniesId">@item.Name</option>


                }
            </select>
        </div>


        <div class="col">
            <select asp-for="@Model.CompanyRelationId" class="form-select">
                <option value="" selected>Relação com empresa</option>
                @foreach (var item in Model.listRelation)
                {
                    <option value="@item.CompanyRelationId">@item.CompanyRelationship</option>
                    Console.WriteLine(item.CompanyRelationId + "e " + item.CompanyRelationship);
                }


            </select>

        </div>
    </div>

    <br />

    <div class="mb-3">
        <input asp-for="@Model.Name" type="text" class="form-control" placeholder="Nome">
        <span asp-validation-for="@Model.Name" class="text-danger"></span>
    </div>

    <div class="row">
        <div class="col">
            <input asp-for="@Model.PhoneNumber" type="tel" class="form-control" placeholder="Telemovel(Opcional)">
            <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
        </div>

        <div class="col">
            <input asp-for="@Model.Email" type="email" class="form-control" placeholder="Email(Opcional)">
            <span asp-validation-for="@Model.Email" class="text-danger"></span>
        </div>
    </div>
    <br />




  @*   <select asp-for="@Model.categoryid" class="form-select" id="categoryid">
        <option value="" selected>Categorias</option>

    </select>
 *@
@*  <select asp-for="@Model.categoryid" class="form-select" id="categoryid">
    <option value="1">Categoria 1</option>
    <option value="2">Categoria 2</option>
</select>
 *@
    <select asp-for="@Model.categoryid" class="form-select" id="categoryid">
        <option value="" selected>Selecione uma Categoria</option>
    </select>


    <br /><br />

    <div class="form-group">

        <textarea asp-for="@Model.ComplaintDescription" class="form-control" placeholder="Descrição" id="texto" rows=" 10" required></textarea>
    </div>

    <br />


    <div class="input-group mb-3">
        <input asp-for="_files" type="file" class="form-control" id="file" multiple />
        <label class="input-group-text" for="file">Upload</label>
        <span asp-validation-for="_files" class="text-danger"></span>
    </div>




    <br /> <br /> <br /> <br />

    <div class="form-group text-center">
        <button type="submit" value="CreateComplaint" class="btn btn-secondary btn-lg">SUBMETER</button>
    </div>
    <br />



</form>

<br />
<br />
<br />

<section hidden class="text-center">
    <h6>Canal de denúcias em conformidade com a nova lei de proteção de denunciantes Lei n.º 93/2021</h6>
</section>



@section Scripts {
    @{
        <script>
            $(document).ready(function () {

                getCategoryByCompanyId();
            });

            // Evento ao mudar o dropdown de empresa
            $("#companyId").change(function () {
                getCategoryByCompanyId();
            });

            // Função para buscar categorias com base no companyId
            function getCategoryByCompanyId() {
                var companyId = $('#companyId').val();
                if (companyId) {
                    $.ajax({
                        url: '@Url.Action("GetCategoryByID", "Complaint")',
                        type: 'GET',
                        data: { companyId: companyId }, 
                        success: function (data) {
                            console.log("TESTE" + data); // Verifique a estrutura dos dados retornados
                            $('#categoryid').empty();
                            $('#categoryid').append('<option value="" selected>Selecione uma Categoria</option>'); // Placeholder
                            $.each(data, function (index, item) {
                                console.log('Item:', item); // Veja o que cada item contém
                                $('#categoryid').append('<option value="' + item.categoryId + '">' + item.categories + '</option>');
                            });
                        },
                        error: function () {
                            alert('Erro ao carregar as categorias.');
                        }
                    });
                } else {
                    $('#categoryid').empty();
                    $('#categoryid').append('<option selected>Categorias</option>');
                }
            }


            $('form').on('submit', function () {
                console.log('Category ID:', $('#categoryid').val()); // Exibe o valor do categoryid
            });
        </script>

        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}






@*

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light  border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Complaint" asp-action="List">List </a>
    </div>
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Complaint" asp-action="ListCat">Teste</a>
    </div>
</nav>
 *@





