@model IEnumerable<Projetos_App1.Models.Complaint>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>
@*
<p>
    DADOS SALVOS COM SUCESSO!
</p> *@
@* <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PassWord)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Complaint_privacy_type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComplaintSubject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComplaintDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComplaintResponse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComplaintStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComplaintCloseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompaniesCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyRelation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComplaintStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentResponsible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShippingMethods)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PassWord)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Complaint_privacy_type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComplaintSubject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComplaintDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComplaintResponse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComplaintStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComplaintCloseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompaniesCategory.CompaniesCategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyRelation.CompanyRelationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComplaintStatus.ComplaintStatusId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentResponsible.ResponsiblesId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippingMethods.ShippingMethodsId)
            </td>
            <td>

            </td>
        </tr>
}
    </tbody>
</table>
 *@
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Cascading Dropdown</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        media (min-width: 576px) {
            .jumbotron

        {
            padding: 1rem 2rem;
        }

        }

        .tdaction {
            width: 15%;
        }

        .tdSr {
            width: 7%;
        }

        .other label {
            color: #6154d1;
        }

        .other input {
            border: 2px solid #6154d1;
        }

        label {
            margin-bottom: 0;
        }

        .form-control {
            border: 1px solid grey;
        }
    </style>
</head>

<body>

    <form>

        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="inputCity">Country</label>
                <select id="dpdlCountry" class="form-control">
                    <option selected>Choose Country</option>
                    <option value="India">India</option>
                    <option value="Us">United State</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            @*    <div class="form-group col-md-2 other">
            <label class="divOtherCountry ">Other Country</label>
            <input type="text" class="form-control divOtherCountry " id="dpdlOtherCountry"
            placeholder="Other Country">
            </div> *@
            <div class="form-group col-md-2">
                <label for="inputState">State</label>
                <select id="dpdlState" class="form-control">
                    <option selected>Choose State</option>
                </select>
            </div>
            @*      <div class="form-group col-md-2 other">
            <label class="divOtherState ">Other State</label>
            <input type="text" class="form-control divOtherState " id="dpdlOtherState" placeholder="Other State">
            </div> *@
            <div class="form-group col-md-2">
                <label for="inputState">City</label>
                <select id="dpdlCity" class="form-control">
                    <option selected>Choose City</option>
                </select>
            </div>
            @*   </div>
            <div class="form-group col-md-2 other">
            <label class="divOtherCity ">Other City</label>
            <input type="text" class="form-control divOtherCity " id="dpdlOtherCity" placeholder="Other City">
            </div>
            </div> *@

        </div>
    </form>
    <script>

        var stateList = [
            { Country: 'India', State: 'Maharashtra' },
            { Country: 'India', State: 'Delhi' },
            { Country: 'India', State: 'Punjab' },
            { Country: 'Us', State: 'Alabama' },
            { Country: 'Us', State: 'Arizona' },
            { Country: 'Us', State: 'California' },
            { Country: 'Other', State: 'Other' }
        ];
        var cityList = [
            { State: 'Maharashtra', city: 'Pune' },
            { State: 'Maharashtra', city: 'Mumbai' },
            { State: 'Maharashtra', city: 'Hydrabad' },
            { State: 'Delhi', city: 'New Delhi' },
            { State: 'Delhi', city: 'Balijt Vihar' },
            { State: 'Punjab', city: 'Ludhiyana' },
            { State: 'Punjab', city: 'Amritsar' },
            { State: 'Punjab', city: 'Patiyala' },
            { State: 'Punjab', city: 'Jalandhar' },
            { State: 'Alabama', city: 'Abbeville' },
            { State: 'Alabama', city: 'Adamsville' },
            { State: 'Arizona', city: 'Phoenix' },
            { State: 'Arizona', city: 'Tucson' },
            { State: 'Other', city: 'Other' }
        ];
        $(document).ready(function () {
            debugger;
            $(".divOtherCountry").hide();
            $(".divOtherState").hide();
            $(".divOtherCity").hide();
            $("#dpdlCountry").change(function () {
                debugger;
                if ($("#dpdlCountry").val() == "Other") {
                    $(".divOtherCountry").show();
                    const option = "<option val='Other'>Other</option>";
                    $("#dpdlState").append(option);
                } else {
                    $(".divOtherCountry").hide();
                    $(".divOtherState").hide();
                    $(".divOtherCity").hide();
                    $("#dpdlState").html("<option selected>Choose State</option>");
                    $("#dpdlCity").html("<option selected>Choose City</option>");
                    const states = stateList.filter(m => m.Country == $("#dpdlCountry").val() || m.Country == "Other");
                    states.forEach(element => {
                        const option = "<option val='" + element.State + "'>" + element.State + "</option>";
                        $("#dpdlState").append(option);
                    });
                }
            });

            $("#dpdlState").change(function () {
                debugger;
                if ($("#dpdlState").val() == "Other") {
                    $(".divOtherState").show();
                    const option = "<option val='Other'>Other</option>";
                    $("#dpdlCity").append(option);
                } else {
                    $(".divOtherState").hide();
                    $(".divOtherCity").hide();
                    $("#dpdlCity").html("<option selected>Choose City</option>");
                    debugger;
                    const states = cityList.filter(m => m.State == $("#dpdlState").val() || m.State == "Other");
                    states.forEach(element => {
                        const option = "<option val='" + element.city + "'>" + element.city + "</option>";
                        $("#dpdlCity").append(option);
                    });
                }
            });

            $("#dpdlCity").change(function () {
                debugger;
                if ($("#dpdlCity").val() == "Other") {
                    $(".divOtherCity").show();
                } else {
                    $(".divOtherCity").hide();
                }
            });
        });
    </script>
</body>

</html>