@model Projetos_App1.ViewModels.AccessComplaintViewModel
@{
    ViewData["Title"] = "DetailsComplaint";
}


<style>
    .new-font{
        font-family: Roboto, sans-serif;
    }
</style>

<div class="text-center" id="homeTitle">
    <h1>Consultar Denúncia</h1>
</div>



<br />



<form >
    <fieldset disabled>
        <div class="mb-3">
            <label class="new-font" for="ComplaintSubject">Assunto </label>
            <input  disabled value="@Model.ComplaintSubject" type="text" class="form-control">
        </div>


        <div class="row">
            <div class="col">
                <label  class="new-font" >Empresa</label>
                <select  value="@Model.Company" id="companyId" name="companyId" class="form-select">
                    <option value="@Model.Company" selected>@Model.Company</option>

                </select>

            </div>


            <div class="col">
                <label class="new-font">Relação com a Empresa</label>
                <select  name="CompanyRelationId" class="form-select">
                    <option value="@Model.CompanyRelation" selected>@Model.CompanyRelation</option>

                </select>


            </div>
        </div>
        <br />
        <label class="new-font">Categoria</label>
        <select  class="form-select" id="categoryid">
            <option value="@Model.Category" selected>@Model.Category</option>
        </select>

        <br />


        <div class="form-group">
            <label class="new-font">Descrição</label>
            <textarea  class="form-control" title="Campo obrigatório" placeholder="Descrição" id="textInput" rows="20" required>@Model.ComplaintDescription</textarea>
        </div>

        <br />

        <div class="form-group">
            <label for="inputFile" class="new-font">Arquivos adicionados</label>
            <textarea  class="form-control" id="inputFile" rows="5">
                @foreach (var nameFile in Model._filesName)
                {
                    
                    @string.Join(" /n ", nameFile);//nao pula linha
                  
                }
     </textarea>
        </div>
    </fieldset>
</form>

<br />
<br />


<div class="d-grid gap-2 col-6 mx-auto text-center">
<a class="btn btn-secondary btn-lg" asp-controller="LoginComplaint" asp-action="Logoff">Sair</a> 
</div>
<br />
<br />



<section class="text-center">
    <h6>Canal de denúcias em conformidade com a nova lei de proteção de denunciantes Lei n.º 93/2021</h6>
</section>




