@model Projetos_App1.Models.Complaint

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Complaint</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassWord)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassWord)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Complaint_Is_Confidential)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Complaint_Is_Confidential)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComplaintSubject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComplaintSubject)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComplaintDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComplaintDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComplaintResponse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComplaintResponse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComplaintStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComplaintStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComplaintCloseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComplaintCloseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompaniesCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompaniesCategory.CompaniesCategoryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyRelation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyRelation.CompanyRelationId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComplaintStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComplaintStatus.ComplaintStatusId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentResponsible)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentResponsible.ResponsiblesId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingMethods)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingMethods.ShippingMethodsId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ComplaintId">Edit</a> |
    <a asp-action="Index">Back to List</a>
    @Html.ActionLink("Sair", "Logoff", "LoginComplaint");
</div>
